<p id="notice"><%= notice %></p>

<h1>Billing Statements</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billing_statements.each do |billing_statement| %>
      <tr>
        <td><%= billing_statement.user %></td>
        <td><%= billing_statement.title %></td>
        <td><%= link_to 'Show', billing_statement %></td>
        <td><%= link_to 'Edit', edit_billing_statement_path(billing_statement) %></td>
        <td><%= link_to 'Destroy', billing_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing Statement', new_billing_statement_path %>
